package views

import "github.com/YeiyoNathnael/ADUEvents/components/button"

templ Index(){


  <html>
    <head>
        <link rel="stylesheet" href="/assets/css/output.css">
    </head>

    <body>
      @button.Button(button.Props{Class: "bg-red-500 text-white hover:bg-red-500/90"}){
          Button
        }
    </body>
  </html>
}


