package views

import "github.com/YeiyoNathnael/ADUEvents/components/button"

templ Index(){


  <html>
    <head>
        
    </head>

    <body>
        @button.Button(){
          Button
        }
    </body>
  </html>
}


